*.class
.settings/
.classpath
.project
.springBeans
*.bak
*-local.properties
out/
src/test/
target/
.DS_Store
/files
.idea/inspectionProfiles/
.idea/workspace.xml
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
